.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  color: hsl(0, 0%, 98%);

  letter-spacing: 20px;
  font-weight: 700;
}

.nightmodeIcon {
  width: 25px;
  height: 25px;
}
