.todoListContainer {
  background-color: hsl(0, 0%, 98%);
  border-radius: 5px;
  border: none;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
  padding: 0;
}

ul > div {
  display: flex;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  padding: 16px;
  gap: 16px;
}

li {
  color: hsl(235, 19%, 35%);
}
